#containeringredients {
  width: 65%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ingredients {
  width: 90%;
  height: 420px;
  background-color: #d8bf8f;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
#ingredientstitle {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#allingredients {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ingredientsbox {
  width: 33%;
  height: 270px;
}

#ingredient {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contcheckbox {
  width: 25%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contingredient {
  width: 75%;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
#checkbox {
  width: 40px;
  height: 40px;
}
