#containersteps {
  width: 100%;
  height: 450px;
}
#containersteps1,
#containersteps2 {
  width: 95%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerstepnumber {
  width: 30%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containersteptext {
  width: 70%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: justify;
}
#containerstep1,
#containerstep2,
#containerstep3,
#containerstep4 {
  width: 50%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#step {
  width: 70px;
  height: 80px;
  background-color: #d8bf8f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
