#containertime {
  width: 30%;
  height: 420px;
}
#titletime {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #d8bf8f;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#time {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#times {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#countclock {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  width: 30%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeclock {
  width: 40%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
#imgclock {
  width: 80px;
  height: 80px;
}
#contador5,
#contador10,
#contador15,
#contador20 {
  width: 50px;
  height: 50px;
  background-color: #d8bf8f;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px inset grey;
  font-size: 25px;
}
#clockcountdown {
  width: 30%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeclockcountdown {
  width: 40%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
#empezar {
  width: 120px;
  height: 50px;
  background-color: #d8bf8f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}
